
.card{
    background-image:url('../img/red-blue-blur.jpg') ;
 background-repeat: no-repeat;
 background-size: cover;


}
#connect-with-us {
    
        li:not(:last-child) {
        margin-bottom: 5px;
    }
    
    }