@import "materialize.css";
@mixin set-background($image)
{
 background-image: url($image);
 background-repeat: no-repeat;
 background-position: center;
}
$blue-darken :#1976d2;
 $teal-darken-4:#004d40;
 $light-blue:#03a9f4;
 $grey-darken-4:#212121 ;
 $indigo-darken-4:#1a237e; 
.slide1{
    @include set-background('../img/slides.jpg');
}
.slide2{
    @include set-background('../img/gray-pattern.jpg');
}
.slide3{
    @include set-background('../img/circle-hand.jpg');
}
.slide4{
    @include set-background('../img/hand-arm.jpg');
}



#front-end ,#back-end ,#machine-learning{
  a{
      color:$indigo-darken-4;
  }
  p{

  }
}
  span{

      
        font-weight: bolder;
    }